<a href="https://colab.research.google.com/github/Eribakova/CS5010/blob/main/bikecode_merge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This program 1.  merges multiple monthly bikeshare files, 2.  Checks for inconsistent, missing and duplicate data, 3. fills in key missing values, 4.  drops unnecessary data, and 5.  converts to date time formats.

In [ ]:
import numpy as np
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
dfa = pd.read_csv('/content/drive/MyDrive/CS5010Project/Bikeshare_Data/201902-capitalbikeshare-tripdata.csv')
dfb = pd.read_csv('/content/drive/MyDrive/CS5010Project/Bikeshare_Data/201903-capitalbikeshare-tripdata.csv')
dfc = pd.read_csv('/content/drive/MyDrive/CS5010Project/Bikeshare_Data/201904-capitalbikeshare-tripdata.csv')
dfd = pd.read_csv('/content/drive/MyDrive/CS5010Project/Bikeshare_Data/201905-capitalbikeshare-tripdata.csv')
dfe = pd.read_csv('/content/drive/MyDrive/CS5010Project/Bikeshare_Data/201906-capitalbikeshare-tripdata.csv')
dff = pd.read_csv('/content/drive/MyDrive/CS5010Project/Bikeshare_Data/201907-capitalbikeshare-tripdata.csv')
dfg = pd.read_csv('/content/drive/MyDrive/CS5010Project/Bikeshare_Data/201908-capitalbikeshare-tripdata.csv')
dfh = pd.read_csv('/content/drive/MyDrive/CS5010Project/Bikeshare_Data/201909-capitalbikeshare-tripdata.csv')
dfi = pd.read_csv('/content/drive/MyDrive/CS5010Project/Bikeshare_Data/201910-capitalbikeshare-tripdata.csv')
dfj = pd.read_csv('/content/drive/MyDrive/CS5010Project/Bikeshare_Data/201911-capitalbikeshare-tripdata.csv')
dfk = pd.read_csv('/content/drive/MyDrive/CS5010Project/Bikeshare_Data/201912-capitalbikeshare-tripdata.csv')
dfl = pd.read_csv('/content/drive/MyDrive/CS5010Project/Bikeshare_Data/202001-capitalbikeshare-tripdata.csv')
dfm = pd.read_csv('/content/drive/MyDrive/CS5010Project/Bikeshare_Data/202002-capitalbikeshare-tripdata.csv')
dfn = pd.read_csv('/content/drive/MyDrive/CS5010Project/Bikeshare_Data/202003-capitalbikeshare-tripdata.csv')
dfo = pd.read_csv('/content/drive/MyDrive/CS5010Project/Bikeshare_Data/202005-capitalbikeshare-tripdata.csv')
dfp = pd.read_csv('/content/drive/MyDrive/CS5010Project/Bikeshare_Data/202006-capitalbikeshare-tripdata.csv')
dfq = pd.read_csv('/content/drive/MyDrive/CS5010Project/Bikeshare_Data/202007-capitalbikeshare-tripdata.csv')
dfr = pd.read_csv('/content/drive/MyDrive/CS5010Project/Bikeshare_Data/202008-capitalbikeshare-tripdata.csv')
dfs = pd.read_csv('/content/drive/MyDrive/CS5010Project/Bikeshare_Data/202009-capitalbikeshare-tripdata.csv')
dft = pd.read_csv('/content/drive/MyDrive/CS5010Project/Bikeshare_Data/202010-capitalbikeshare-tripdata.csv')
dfu = pd.read_csv('/content/drive/MyDrive/CS5010Project/Bikeshare_Data/202011-capitalbikeshare-tripdata.csv')
dfv = pd.read_csv('/content/drive/MyDrive/CS5010Project/Bikeshare_Data/202012-capitalbikeshare-tripdata.csv')
dfw = pd.read_csv('/content/drive/MyDrive/CS5010Project/Bikeshare_Data/202101-capitalbikeshare-tripdata.csv')
dfx = pd.read_csv('/content/drive/MyDrive/CS5010Project/Bikeshare_Data/202102-capitalbikeshare-tripdata.csv')
dfy = pd.read_csv('/content/drive/MyDrive/CS5010Project/Bikeshare_Data/202103-capitalbikeshare-tripdata.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Consistency check 1:  
Column headers.  Note column names and contents for each file.  There are different column headings for Feb 2019-March 2020 and May 2020 - March 2021.  The fields, "rideable type" and latitude / longitude are not available before May 2020. "Duration" is not availalbe after May 2020.  Note that there is no file for April 2020.

In [ ]:
frames=[dfa,dfb,dfc,dfd,dfe,dff,dfg,dfh,dfi,dfj,dfk,dfl,dfm,dfn,dfo,dfp,dfq,dfr,dfs,dft,dfu,dfv,dfw,dfx,dfy]
filenum=0
for f in frames:
  print(filenum, ":\t",f.columns)
  filenum=filenum+1

0 :	 Index(['Duration', 'Start date', 'End date', 'Start station number',
       'Start station', 'End station number', 'End station', 'Bike number',
       'Member type'],
      dtype='object')
1 :	 Index(['Duration', 'Start date', 'End date', 'Start station number',
       'Start station', 'End station number', 'End station', 'Bike number',
       'Member type'],
      dtype='object')
2 :	 Index(['Duration', 'Start date', 'End date', 'Start station number',
       'Start station', 'End station number', 'End station', 'Bike number',
       'Member type'],
      dtype='object')
3 :	 Index(['Duration', 'Start date', 'End date', 'Start station number',
       'Start station', 'End station number', 'End station', 'Bike number',
       'Member type'],
      dtype='object')
4 :	 Index(['Duration', 'Start date', 'End date', 'Start station number',
       'Start station', 'End station number', 'End station', 'Bike number',
       'Member type'],
      dtype='object')
5 :	 Index(['Duration', 'Start date', 'End date', 'Start station number',
       'Start station', 'End station number', 'End station', 'Bike number',
       'Member type'],
      dtype='object')
6 :	 Index(['Duration', 'Start date', 'End date', 'Start station number',
       'Start station', 'End station number', 'End station', 'Bike number',
       'Member type'],
      dtype='object')
7 :	 Index(['Duration', 'Start date', 'End date', 'Start station number',
       'Start station', 'End station number', 'End station', 'Bike number',
       'Member type'],
      dtype='object')
8 :	 Index(['Duration', 'Start date', 'End date', 'Start station number',
       'Start station', 'End station number', 'End station', 'Bike number',
       'Member type'],
      dtype='object')
9 :	 Index(['Duration', 'Start date', 'End date', 'Start station number',
       'Start station', 'End station number', 'End station', 'Bike number',
       'Member type'],
      dtype='object')
10 :	 Index(['Duration', 'Start date', 'End date', 'Start station number',
       'Start station', 'End station number', 'End station', 'Bike number',
       'Member type'],
      dtype='object')
11 :	 Index(['Duration', 'Start date', 'End date', 'Start station number',
       'Start station', 'End station number', 'End station', 'Bike number',
       'Member type'],
      dtype='object')
12 :	 Index(['Duration', 'Start date', 'End date', 'Start station number',
       'Start station', 'End station number', 'End station', 'Bike number',
       'Member type'],
      dtype='object')
13 :	 Index(['Duration', 'Start date', 'End date', 'Start station number',
       'Start station', 'End station number', 'End station', 'Bike number',
       'Member type'],
      dtype='object')
14 :	 Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')
15 :	 Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')
16 :	 Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')
17 :	 Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')
18 :	 Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')
19 :	 Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')
20 :	 Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')
21 :	 Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')
22 :	 Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')
23 :	 Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')
24 :	 Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')

Consistency check 2:  Data types.
Data types differ across files for a given variable. Biggest difference is station id can be int, float or object.

In [ ]:
frames=[dfa,dfb,dfc,dfd,dfe,dff,dfg,dfh,dfi,dfj,dfk,dfl,dfm,dfn,dfo,dfp,dfq,dfr,dfs,dft,dfu,dfv,dfw,dfx,dfy]
num=0
for f in frames:  #check dtypes
    print(num)
    for i in f.columns:
      print(i,f[i].dtypes)
    num=num+1

0
Duration int64
Start date object
End date object
Start station number int64
Start station object
End station number int64
End station object
Bike number object
Member type object
1
Duration int64
Start date object
End date object
Start station number int64
Start station object
End station number int64
End station object
Bike number object
Member type object
2
Duration int64
Start date object
End date object
Start station number int64
Start station object
End station number int64
End station object
Bike number object
Member type object
3
Duration int64
Start date object
End date object
Start station number int64
Start station object
End station number int64
End station object
Bike number object
Member type object
4
Duration int64
Start date object
End date object
Start station number int64
Start station object
End station number int64
End station object
Bike number object
Member type object
5
Duration int64
Start date object
End date object
Start station number int64
Start station object
End station number int64
End station object
Bike number object
Member type object
6
Duration int64
Start date object
End date object
Start station number int64
Start station object
End station number int64
End station object
Bike number object
Member type object
7
Duration int64
Start date object
End date object
Start station number int64
Start station object
End station number int64
End station object
Bike number object
Member type object
8
Duration int64
Start date object
End date object
Start station number int64
Start station object
End station number int64
End station object
Bike number object
Member type object
9
Duration int64
Start date object
End date object
Start station number int64
Start station object
End station number int64
End station object
Bike number object
Member type object
10
Duration int64
Start date object
End date object
Start station number int64
Start station object
End station number int64
End station object
Bike number object
Member type object
11
Duration int64
Start date object
End date object
Start station number int64
Start station object
End station number int64
End station object
Bike number object
Member type object
12
Duration int64
Start date object
End date object
Start station number int64
Start station object
End station number int64
End station object
Bike number object
Member type object
13
Duration int64
Start date object
End date object
Start station number int64
Start station object
End station number int64
End station object
Bike number object
Member type object
14
ride_id object
rideable_type object
started_at object
ended_at object
start_station_name object
start_station_id int64
end_station_name object
end_station_id float64
start_lat float64
start_lng float64
end_lat float64
end_lng float64
member_casual object
15
ride_id object
rideable_type object
started_at object
ended_at object
start_station_name object
start_station_id float64
end_station_name object
end_station_id float64
start_lat float64
start_lng float64
end_lat float64
end_lng float64
member_casual object
16
ride_id object
rideable_type object
started_at object
ended_at object
start_station_name object
start_station_id float64
end_station_name object
end_station_id float64
start_lat float64
start_lng float64
end_lat float64
end_lng float64
member_casual object
17
ride_id object
rideable_type object
started_at object
ended_at object
start_station_name object
start_station_id float64
end_station_name object
end_station_id float64
start_lat float64
start_lng float64
end_lat float64
end_lng float64
member_casual object
18
ride_id object
rideable_type object
started_at object
ended_at object
start_station_name object
start_station_id float64
end_station_name object
end_station_id float64
start_lat float64
start_lng float64
end_lat float64
end_lng float64
member_casual object
19
ride_id object
rideable_type object
started_at object
ended_at object
start_station_name object
start_station_id float64
end_station_name object
end_station_id float64
start_lat float64
start_lng float64
end_lat float64
end_lng float64
member_casual object
20
ride_id object
rideable_type object
started_at object
ended_at object
start_station_name object
start_station_id float64
end_station_name object
end_station_id float64
start_lat float64
start_lng float64
end_lat float64
end_lng float64
member_casual object
21
ride_id object
rideable_type object
started_at object
ended_at object
start_station_name object
start_station_id float64
end_station_name object
end_station_id float64
start_lat float64
start_lng float64
end_lat float64
end_lng float64
member_casual object
22
ride_id object
rideable_type object
started_at object
ended_at object
start_station_name object
start_station_id float64
end_station_name object
end_station_id float64
start_lat float64
start_lng float64
end_lat float64
end_lng float64
member_casual object
23
ride_id object
rideable_type object
started_at object
ended_at object
start_station_name object
start_station_id object
end_station_name object
end_station_id object
start_lat float64
start_lng float64
end_lat float64
end_lng float64
member_casual object
24
ride_id object
rideable_type object
started_at object
ended_at object
start_station_name object
start_station_id float64
end_station_name object
end_station_id float64
start_lat float64
start_lng float64
end_lat float64
end_lng float64
member_casual object

Consistency check 3:  Formatting of dates and strings from pre-May 2020 to after May 2020.  
There are some inconsistencies how the data are formatted in files before May 2020 and after.  However the dates and addresses are consistent from file to file.

In [ ]:
#March 2020 vs. May 2020
#membership type
print("membership type\n")
print("March 2020: ", dfn['Member type'].value_counts())
print("May 2020: ", dfo['member_casual'].value_counts())  #capitalization differs
#Dates
print("\n dates\n")
print("March 2020: ", dfn['Start date'].head())
print("May 2020: ", dfo['started_at'].tail())  #no difference between the two time periods.
#Ride id / bike number
print("\n bike id\n")
print("March 2020: ", dfn['Bike number'].head())
print("May 2020: ", dfo['ride_id'].head())   # very different format but of little consequence for analysis.
#Station number
print("\n station id\n")
print("March 2020: ", dfn['Start station number'].head())
print("May 2020: ", dfo['start_station_id'].tail())   # No apparent difference
#Station address / namef
print("\n station name\n")
print("March 2020: ", dfn['Start station'].tail())
print("May 2020: ", dfo['start_station_name'].tail())   # No apparent difference

membership type

March 2020:  Member    145923
Casual     16607
Name: Member type, dtype: int64
May 2020:  casual    75546
member    73505
Name: member_casual, dtype: int64

 dates

March 2020:  0    2020-03-01 00:01:16
1    2020-03-01 00:02:04
2    2020-03-01 00:03:45
3    2020-03-01 00:05:49
4    2020-03-01 00:06:53
Name: Start date, dtype: object
May 2020:  149046    2020-05-12 08:15:31
149047    2020-05-17 13:19:33
149048    2020-05-30 14:53:00
149049    2020-05-27 17:09:42
149050    2020-05-15 15:02:35
Name: started_at, dtype: object

 bike id

March 2020:  0    W24217
1    W21897
2    W21703
3     78571
4    W23425
Name: Bike number, dtype: object
May 2020:  0    946D42AD89539210
1    CC46FAAB662B8613
2    72F00B2FB833D6ED
3    4DFBE6AED989DF35
4    1AAFE6B4331AB9DF
Name: ride_id, dtype: object

 station id

March 2020:  0    31646
1    31646
2    31224
3    31603
4    31101
Name: Start station number, dtype: int64
May 2020:  149046    31229
149047    31229
149048    31002
149049    31094
149050    31229
Name: start_station_id, dtype: int64

 station name

March 2020:  162525    19th St & Constitution Ave NW
162526       14th & Rhode Island Ave NW
162527         20th St & Florida Ave NW
162528                    1st & M St NE
162529        Reservoir Rd & 38th St NW
Name: Start station, dtype: object
May 2020:  149046    New Hampshire Ave & T St NW
149047    New Hampshire Ave & T St NW
149048         Crystal Dr & 20th St S
149049        Lee Hwy & N Kirkwood Rd
149050    New Hampshire Ave & T St NW
Name: start_station_name, dtype: object

Missing value check

In [ ]:
num2=0 #Check number and percent of missings
for f in frames:  
  print(num2)
  for i in f.columns:
    print(i,":",f[i].isnull().sum(),round(f[i].isnull().sum()/f.shape[0],5) )
  num2=num2+1

# Conclusion:  Virtually no missing values before March 2020.  
# After March 2020, station names and ids are increasingly missing. In these
# cases, lat-long is almost always available. To fill in missing data about 
# about location we will need to impute based on latitude and longitude to know the location.

0
Duration : 0 0.0
Start date : 0 0.0
End date : 0 0.0
Start station number : 0 0.0
Start station : 0 0.0
End station number : 0 0.0
End station : 0 0.0
Bike number : 0 0.0
Member type : 0 0.0
1
Duration : 0 0.0
Start date : 0 0.0
End date : 0 0.0
Start station number : 0 0.0
Start station : 0 0.0
End station number : 0 0.0
End station : 0 0.0
Bike number : 0 0.0
Member type : 0 0.0
2
Duration : 0 0.0
Start date : 0 0.0
End date : 0 0.0
Start station number : 0 0.0
Start station : 0 0.0
End station number : 0 0.0
End station : 0 0.0
Bike number : 0 0.0
Member type : 0 0.0
3
Duration : 0 0.0
Start date : 0 0.0
End date : 0 0.0
Start station number : 0 0.0
Start station : 0 0.0
End station number : 0 0.0
End station : 0 0.0
Bike number : 0 0.0
Member type : 0 0.0
4
Duration : 0 0.0
Start date : 0 0.0
End date : 0 0.0
Start station number : 0 0.0
Start station : 0 0.0
End station number : 0 0.0
End station : 0 0.0
Bike number : 14 4e-05
Member type : 0 0.0
5
Duration : 0 0.0
Start date : 0 0.0
End date : 0 0.0
Start station number : 0 0.0
Start station : 0 0.0
End station number : 0 0.0
End station : 0 0.0
Bike number : 0 0.0
Member type : 0 0.0
6
Duration : 0 0.0
Start date : 0 0.0
End date : 0 0.0
Start station number : 0 0.0
Start station : 0 0.0
End station number : 0 0.0
End station : 0 0.0
Bike number : 0 0.0
Member type : 0 0.0
7
Duration : 0 0.0
Start date : 0 0.0
End date : 0 0.0
Start station number : 0 0.0
Start station : 0 0.0
End station number : 0 0.0
End station : 0 0.0
Bike number : 0 0.0
Member type : 0 0.0
8
Duration : 0 0.0
Start date : 0 0.0
End date : 0 0.0
Start station number : 0 0.0
Start station : 0 0.0
End station number : 0 0.0
End station : 0 0.0
Bike number : 0 0.0
Member type : 0 0.0
9
Duration : 0 0.0
Start date : 0 0.0
End date : 0 0.0
Start station number : 0 0.0
Start station : 0 0.0
End station number : 0 0.0
End station : 0 0.0
Bike number : 0 0.0
Member type : 0 0.0
10
Duration : 0 0.0
Start date : 0 0.0
End date : 0 0.0
Start station number : 0 0.0
Start station : 0 0.0
End station number : 0 0.0
End station : 0 0.0
Bike number : 0 0.0
Member type : 0 0.0
11
Duration : 0 0.0
Start date : 0 0.0
End date : 0 0.0
Start station number : 0 0.0
Start station : 0 0.0
End station number : 0 0.0
End station : 0 0.0
Bike number : 0 0.0
Member type : 0 0.0
12
Duration : 0 0.0
Start date : 0 0.0
End date : 0 0.0
Start station number : 0 0.0
Start station : 0 0.0
End station number : 0 0.0
End station : 0 0.0
Bike number : 0 0.0
Member type : 0 0.0
13
Duration : 0 0.0
Start date : 0 0.0
End date : 0 0.0
Start station number : 0 0.0
Start station : 0 0.0
End station number : 0 0.0
End station : 0 0.0
Bike number : 0 0.0
Member type : 0 0.0
14
ride_id : 0 0.0
rideable_type : 0 0.0
started_at : 0 0.0
ended_at : 0 0.0
start_station_name : 0 0.0
start_station_id : 0 0.0
end_station_name : 610 0.00409
end_station_id : 610 0.00409
start_lat : 0 0.0
start_lng : 0 0.0
end_lat : 610 0.00409
end_lng : 610 0.00409
member_casual : 0 0.0
15
ride_id : 0 0.0
rideable_type : 0 0.0
started_at : 0 0.0
ended_at : 0 0.0
start_station_name : 52 0.00024
start_station_id : 52 0.00024
end_station_name : 986 0.00461
end_station_id : 986 0.00461
start_lat : 0 0.0
start_lng : 0 0.0
end_lat : 934 0.00436
end_lng : 934 0.00436
member_casual : 0 0.0
16
ride_id : 0 0.0
rideable_type : 0 0.0
started_at : 0 0.0
ended_at : 0 0.0
start_station_name : 3920 0.01717
start_station_id : 3920 0.01717
end_station_name : 5342 0.02339
end_station_id : 5342 0.02339
start_lat : 1 0.0
start_lng : 1 0.0
end_lat : 825 0.00361
end_lng : 825 0.00361
member_casual : 0 0.0
17
ride_id : 0 0.0
rideable_type : 0 0.0
started_at : 0 0.0
ended_at : 0 0.0
start_station_name : 15880 0.06312
start_station_id : 15880 0.06312
end_station_name : 18283 0.07267
end_station_id : 18283 0.07267
start_lat : 7 3e-05
start_lng : 7 3e-05
end_lat : 965 0.00384
end_lng : 965 0.00384
member_casual : 0 0.0
18
ride_id : 0 0.0
rideable_type : 0 0.0
started_at : 0 0.0
ended_at : 0 0.0
start_station_name : 20216 0.0809
start_station_id : 20216 0.0809
end_station_name : 22561 0.09028
end_station_id : 22561 0.09028
start_lat : 0 0.0
start_lng : 0 0.0
end_lat : 967 0.00387
end_lng : 967 0.00387
member_casual : 0 0.0
19
ride_id : 0 0.0
rideable_type : 0 0.0
started_at : 0 0.0
ended_at : 0 0.0
start_station_name : 18407 0.08009
start_station_id : 18407 0.08009
end_station_name : 20341 0.0885
end_station_id : 20341 0.0885
start_lat : 0 0.0
start_lng : 0 0.0
end_lat : 882 0.00384
end_lng : 882 0.00384
member_casual : 0 0.0
20
ride_id : 0 0.0
rideable_type : 0 0.0
started_at : 0 0.0
ended_at : 0 0.0
start_station_name : 15110 0.08613
start_station_id : 15110 0.08613
end_station_name : 16662 0.09498
end_station_id : 16662 0.09498
start_lat : 0 0.0
start_lng : 0 0.0
end_lat : 622 0.00355
end_lng : 622 0.00355
member_casual : 0 0.0
21
ride_id : 0 0.0
rideable_type : 0 0.0
started_at : 0 0.0
ended_at : 0 0.0
start_station_name : 11054 0.10445
start_station_id : 11054 0.10445
end_station_name : 12259 0.11584
end_station_id : 12259 0.11584
start_lat : 0 0.0
start_lng : 0 0.0
end_lat : 204 0.00193
end_lng : 204 0.00193
member_casual : 0 0.0
22
ride_id : 0 0.0
rideable_type : 0 0.0
started_at : 0 0.0
ended_at : 0 0.0
start_station_name : 10107 0.101
start_station_id : 10107 0.101
end_station_name : 11382 0.11374
end_station_id : 11382 0.11374
start_lat : 0 0.0
start_lng : 0 0.0
end_lat : 157 0.00157
end_lng : 157 0.00157
member_casual : 0 0.0
23
ride_id : 0 0.0
rideable_type : 0 0.0
started_at : 0 0.0
ended_at : 0 0.0
start_station_name : 8295 0.10703
start_station_id : 8295 0.10703
end_station_name : 9312 0.12015
end_station_id : 9312 0.12015
start_lat : 2 3e-05
start_lng : 2 3e-05
end_lat : 106 0.00137
end_lng : 106 0.00137
member_casual : 0 0.0
24
ride_id : 0 0.0
rideable_type : 0 0.0
started_at : 0 0.0
ended_at : 0 0.0
start_station_name : 15204 0.08883
start_station_id : 15204 0.08883
end_station_name : 16789 0.09809
end_station_id : 16789 0.09809
start_lat : 0 0.0
start_lng : 0 0.0
end_lat : 289 0.00169
end_lng : 289 0.00169
member_casual : 0 0.0

Concatenate files with standard column headers

In [ ]:

# Standardize columns which differ between pre-May 2020 and post-May 2020
# Note that there is no April file.  
# Format may2020 - present  
# Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
#        'start_station_name', 'start_station_id', 'end_station_name',
#        'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
#        'member_casual'],


frames=[dfa,dfb,dfc,dfd,dfe,dff,dfg,dfh,dfi,dfj,dfk,dfl,dfm,dfn,dfo,dfp,dfq,dfr,dfs,dft,dfu,dfv,dfw,dfx,dfy]
      
for f in frames:  #Renames columns as required
    #del f['Duration']
    f.rename(columns = {'Start date':'started_at', 
                              'End date':'ended_at',
                              'Start station':'start_station_name',
                              'Start station number':'start_station_id',
                              'End station number':'end_station_id',
                              'End station':'end_station_name',
                              'Bike number':'ride_id',
                              'Member type':'member_casual'
                              }, inplace = True)
  
  #Create new variables and impose constisent dtype and formatting
    f['fileid']=f['started_at'].str[0:7].astype(str)
    f['member_casual']=f['member_casual'].str.lower().astype(str)
    f['start_station_name']=f['start_station_name'].astype(str).str.lower()
    f['end_station_id']
    f['end_station_name']=f['end_station_name'].astype(str).str.lower()
    
    
df = pd.concat(frames) #Puts all DF together

df["id"] = df.index + 1 #Create unique stable id for each observation
print(df.columns)

Index(['Duration', 'started_at', 'ended_at', 'start_station_id',
       'start_station_name', 'end_station_id', 'end_station_name', 'ride_id',
       'member_casual', 'fileid', 'rideable_type', 'start_lat', 'start_lng',
       'end_lat', 'end_lng', 'id'],
      dtype='object')

Check to make sure the items concatenated correctly by column header.

In [ ]:

df

        Duration           started_at  ...    end_lng      id
0          206.0  2019-02-01 00:00:20  ...        NaN       1
1          297.0  2019-02-01 00:04:40  ...        NaN       2
2          165.0  2019-02-01 00:06:34  ...        NaN       3
3          176.0  2019-02-01 00:06:49  ...        NaN       4
4          105.0  2019-02-01 00:10:41  ...        NaN       5
...          ...                  ...  ...        ...     ...
171160       NaN  2021-03-06 13:53:06  ... -77.005727  171161
171161       NaN  2021-03-29 16:23:50  ... -76.996806  171162
171162       NaN  2021-03-21 13:38:08  ... -76.996806  171163
171163       NaN  2021-03-13 12:49:39  ... -76.996806  171164
171164       NaN  2021-03-14 15:45:16  ... -76.996806  171165

[5737820 rows x 16 columns]

Duplicate record check

In [ ]:
dup=df.duplicated()
print("There are", dup.sum(),"duplicate records.")
#Conclusion: No dups

In [ ]:
#Value counts / freqs
df['end_station_id'].value_counts().to_csv('dfesid.csv')

Clean latitude and longitude and fill in missing vals.

In [ ]:
df = df[df["start_station_id"] != 'MTL-ECO5-03']
temp = df[["start_station_id","start_lat","start_lng"]]
temp["start_station_id"] = temp["start_station_id"]
df_start_lat_lng = temp[temp["start_lat"] != 'nan']
df_start_lat_lng["start_station_id"] = df_start_lat_lng["start_station_id"].astype(float).astype(str)
df_start_lat_lng["start_station_id"] = df_start_lat_lng["start_station_id"].str.split('.').str[0]
df_start_lat_lng = df_start_lat_lng.groupby("start_station_id").mean().reset_index()

df = df[df["end_station_id"] != 'MTL-ECO5-03']
temp = df[["end_station_id","end_lat","end_lng"]]
temp["end_station_id"] = temp["end_station_id"]
df_end_lat_lng = temp[temp["end_lat"] != 'nan']
df_end_lat_lng["end_station_id"] = df_end_lat_lng["end_station_id"].astype(float).astype(str)
df_end_lat_lng["end_station_id"] = df_end_lat_lng["end_station_id"].str.split('.').str[0]
df_end_lat_lng = df_end_lat_lng.groupby("end_station_id").mean().reset_index()


#Create a dictionary to start to fill in blank values
dict_start_lat_lng = df_start_lat_lng.set_index('start_station_id').T.to_dict('list')
dict_end_lat_lng = df_end_lat_lng.set_index('end_station_id').T.to_dict('list')


dict_start_lat_lng
dict_end_lat_lng


def fillLatNa(row):
    if row["start_station_id"] == 'nan':
        return [row["start_lat"], row["start_lng"]]
    elif str(row["start_station_id"]).split('.')[0] in dict_start_lat_lng.keys():
        return dict_start_lat_lng[str(row["start_station_id"]).split('.')[0]]
    else:
        print(row)

lat_long_apply = df.apply(fillLatNa, axis=1)

lat_long_apply

def fillLatNaEnd(row):
    if row["end_station_id"] == 'nan':
        return [row["end_lat"], row["end_lng"]]
    elif str(row["end_station_id"]).split('.')[0] in dict_end_lat_lng.keys():
        return dict_end_lat_lng[str(row["end_station_id"]).split('.')[0]]
    else:
        print(row)

lat_long_end_apply = df.apply(fillLatNa, axis=1)


lat_long_end_apply

df["temp_start_lat"] = lat_long_apply.str[0]
df["temp_start_lng"] = lat_long_apply.str[1]
df["temp_end_lat"] = lat_long_end_apply.str[0]
df["temp_end_lng"] = lat_long_end_apply.str[1]

df["start_station_id"] = df["start_station_id"].astype(str)
sorted_df = df.sort_values(by=["start_station_id"])

sorted_df[(sorted_df["start_lat"].isnull() == False)]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

Duration
started_at
ended_at
start_station_id
start_station_name
end_station_id
end_station_name
ride_id
member_casual
fileid
year
month
rideable_type
start_lat
start_lng
end_lat
end_lng
id
temp_start_lat
temp_start_lng
temp_end_lat
temp_end_lng

Consolidating files

In [ ]:
# dropping unnecessary columns
df = df.drop(columns=['ride_id','rideable type'])

for col in df.columns:
    print(col)
    
#Write to CSV
df.to_csv('/content/drive/MyDrive/CS5010Project/Bikeshare_Data/full.csv')

In [ ]:
df[['temp_start_lat','temp_start_lng']].dtypes
df['slat']=df['temp_start_lat'].astype(str)
df['slat'].dtypes

dtype('O')

In [ ]:
df[['end_lat','end_lng']]

          end_lat    end_lng
0             NaN        NaN
1             NaN        NaN
2             NaN        NaN
3             NaN        NaN
4             NaN        NaN
...           ...        ...
171160  38.878854 -77.005727
171161  38.886952 -76.996806
171162  38.886952 -76.996806
171163  38.886952 -76.996806
171164  38.886952 -76.996806

[5737820 rows x 2 columns]

In [ ]:
#find nulls and dups
dup=df.duplicated()
print("There are", dup.sum(),"duplicate records.")

#2. The percentage of missing data in each column.
for i in df.columns:
  pct=df[i].isnull().sum()/df.shape[0]
  print(i,":",str(round(100*pct,1))+"%")

There are 0 duplicate records.
Duration : 34.0%
started_at : 0.0%
ended_at : 0.0%
start_station_id : 2.1%
start_station_name : 2.1%
end_station_id : 2.3%
end_station_name : 2.3%
ride_id : 0.0%
member_casual : 0.0%
fileid : 0.0%
year : 0.0%
month : 0.0%
rideable_type : 66.0%
start_lat : 66.0%
start_lng : 66.0%
end_lat : 66.1%
end_lng : 66.1%
id : 0.0%

Convert dates and times to datetime format.  Retain old variables for reference.

In [ ]:
#https://stackoverflow.com/questions/29310116/removing-time-from-datetime-variable-in-pandas
import datetime
df['ended_at_dt'] = pd.to_datetime(df['ended_at']).dt.date
df['started_at_dt'] = pd.to_datetime(df['started_at']).dt.date
df['ended_at_time'] = pd.to_datetime(df['ended_at']).dt.time
df['started_at_time'] = pd.to_datetime(df['started_at']).dt.time
df[date]=df[started_at].apply(lambda x: x.strftime(%Y-%m-%d))
df[time_started]=df[started_at].apply(lambda x: x.strftime(%H:%M:%S))
df.columns

In [ ]:
import matplotlib.pyplot as plt
df['numtrips'] = df.groupby('fileid').fileid.transform('count')
# citation: https://cmdlinetips.com/2019/10/how-to-add-group-level-summary-statistic-as-a-new-column-in-pandas/
plt.plot(df.fileid,df.numtrips)
plt.xticks(rotation = 90)

KeyError: ignored